


//color
$color-primary: #74b9ff;
$color-primary-dark: #0984e3;
$color-success: #55efc4;
$color-success-dark: #00b894;
$color-tertiary: #a29bfe;
$color-tertiary-dark: #6c5ce7;
$color-grey: #636e72;
$color-grey-dark: #2d3436;
$color-danger: #ff7675;
$color-danger-dark: #d63031;
$color-white: #fff;
$color-light: #f7f7f7;

$font-size: 1.6rem;

$grid-width: 100rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 4rem; 
